<h4 appPersonalizarTexto>Lista de estudiantes activos en el curso de Angular</h4>

<table mat-table [dataSource]="dataSource" class="table table-striped table-bordered border-primary" >
    <!-- Columna del nombre -->
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}}</td>
    </ng-container>

    <!-- Columna del Apellido -->
    <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let element"> {{element.apellido}}</td>
    </ng-container>

    <!-- Columna para la Edad -->
    <ng-container matColumnDef="edad">
        <th mat-header-cell *matHeaderCellDef>Edad</th>
        <td mat-cell *matCellDef="let element"> {{element.edad}}</td>
    </ng-container>

   <!-- Columna del Curso -->
    <ng-container matColumnDef="curso">
        <th mat-header-cell *matHeaderCellDef>Curso</th>
        <td mat-cell *matCellDef="let element"> {{element.curso}}</td>
    </ng-container>

    <!-- Columna de Opciones -->
    <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef>Opciones</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="abrirModal(element)">
                <mat-icon >edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="eliminar(element)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas"></tr>
</table>