<!-- <div>{{ alumnos$ | async | json }}</div> -->

<div class="container">
    <div class="row">
        <div class="col-md-3" *ngFor="let alumno of alumnos$ | async">
            <mat-card>
                <mat-card-header>
                    <!-- <p><img src="https://froicorp.net/FroiCorp-logo-002.png" alt="" class="card-imagen"></p><br> -->
                    <mat-card-title>{{alumno.nombre}}</mat-card-title>
                </mat-card-header>
                <img src="{{alumno.foto}}" alt="" class="card-imagen">
                <mat-card-content>
                    <mat-card-subtitle>Edad: {{alumno.edad}}</mat-card-subtitle>
                    <mat-card-subtitle>País: {{alumno.pais}}</mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions>
                    <ng-container *ngIf="sesion$ | async as sesion">
                        <button *ngIf="sesion.usuarioActivo?.esAdmin" mat-raised-button color="primary" (click)="abrirDialog(alumno)">
                            Editar
                        </button>
                        <button *ngIf="sesion.usuarioActivo?.esAdmin" mat-button color="warn" (click)="eliminaralumno(alumno)">
                            Eliminar  
                        </button>
                    </ng-container>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>