<h2 class="titulo">
<ul class="list-group">
  <li class="list-group-item active" aria-current="true">{{ titulo }}</li>
</ul></h2>


<div class="contenedor">
    <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Curso</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let estudiante of listaEstudiante" >
            <td>{{ estudiante.nombre }}</td>
            <td>{{ estudiante.apellido }}</td>
            <td>{{ estudiante.curso }}</td>
            <td [ngClass]="estudiante.estaActivo=='Activo' ? 'activo' : 'inactivo'" >{{ estudiante.estaActivo }}</td>    
          </tr>
        </tbody>
      </table>
</div>