<div class="login">
    <form [formGroup]="formulario" (ngSubmit)="login()" class="custom-form">
        <h1>Login</h1><mat-icon>assignment_ind</mat-icon>
        <input matInput type="text" formControlName="usuario" required="required" placeholder="Usuario" >
        <input matInput type="text" formControlName="contrasena" required="required" placeholder="Contraseña">
        <mat-slide-toggle formControlName="esAdmin">Usuario Administrador</mat-slide-toggle>
        <button type="submit" >Login</button>
    </form>
</div>
<!-- <div class="row align-items-center justify-content-center">
    <div class="col-12 ">
      <img src="/assets/home-wallpaper.jpg" width="80%" height="80%">
    </div>
  </div> -->