<div class="container">
    <form [formGroup]="formulario" (ngSubmit)="agregarCurso()">
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
            <div class="novalido" *ngIf="formulario.controls['nombre'].dirty && formulario.controls['nombre'].errors?.['required']">El campo no debe estar vacío</div>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Comision</mat-label>
            <input matInput formControlName="comision">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Fecha Inicio</mat-label>
            <input matInput [matDatepicker]="fechaInicio" formControlName="fechaInicio">
            <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
            <mat-datepicker #fechaInicio></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Fecha Fin</mat-label>
            <input matInput [matDatepicker]="fechaFin" formControlName="fechaFin">
            <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
            <mat-datepicker #fechaFin></mat-datepicker>
        </mat-form-field>
        <br>

        
        <mat-form-field>
            <mat-label>Profesor</mat-label>
            <mat-select formControlName="profesor">
                <mat-option *ngFor="let profesor of profesor$ | async" [value]="profesor"> {{profesor.nombre}} </mat-option>
            </mat-select>
        </mat-form-field>     
        
        <br>

        <div>
            <mat-slide-toggle formControlName="inscripcionAbierta">Estado de la Comisión</mat-slide-toggle>
        </div>
<br>
        <div>
            <button mat-raised-button type="submit" [disabled]="formulario.invalid">Guardar</button>
        </div>
    </form>
</div>