<table mat-table [dataSource]="dataSource">
    <!-- Columna de nombre -->
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre del País</th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}}</td>
    </ng-container>
    <ng-container matColumnDef="comision">
        <th mat-header-cell *matHeaderCellDef>Cantidad de Empresas Telefónicas</th>
        <td mat-cell *matCellDef="let element"> {{element.empresas}}</td>
    </ng-container>
    <ng-container matColumnDef="comision">
        <th mat-header-cell *matHeaderCellDef>Código del Paíssss</th>
        <td mat-cell *matCellDef="let element"> {{element.codigo}}</td>
    </ng-container>
    <ng-container matColumnDef="inscripcionAbierta">
        <th mat-header-cell *matHeaderCellDef>Estado del curso</th>
        <td mat-cell *matCellDef="let element"> {{element.tecnologia5g}}</td>
    </ng-container>
    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas"></tr>
</table>