<div class="container">
    <form [formGroup]="formulario" (ngSubmit)="agregarAlumno()">
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
            <div class="novalido" *ngIf="formulario.controls['nombre'].dirty && formulario.controls['nombre'].errors?.['required']">El campo no debe estar vacío</div>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Edad</mat-label>
            <input matInput formControlName="edad">
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>País</mat-label>
            <input matInput formControlName="pais">
        </mat-form-field>
        <br>
        <div>
            <button mat-raised-button type="submit" [disabled]="formulario.invalid">Guardar</button>
        </div>
    </form>
</div>