<!--   <div role="tabpanel">
    <div class="list-group" id="myList" role="tablist">
      <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#home" role="tab">Alumnos</a>
      <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#profile" role="tab">Clases</a>
      <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#messages" role="tab">Cursos</a>
    </div>
  
    <div class="tab-content">
      <div class="tab-pane active" id="home" role="tabpanel">.1..</div>
      <div class="tab-pane" id="profile" role="tabpanel">Clases en proceso de elavoración</div>
      <div class="tab-pane" id="messages" role="tabpanel">Cursos en proceso de elavoración</div>
    </div>
  </div> -->
  
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
      Alumnos
    </a>
    <a href="#" class="list-group-item list-group-item-action">Clases</a>
    <a href="#" class="list-group-item list-group-item-action">Cursos</a>
  </div>