<div class="container">
    <div class="row">
        <div class="col-md-3" *ngFor="let pais of paises$ | async">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{pais.nombre}}</mat-card-title>
                    <mat-card-subtitle>Código de red internacional: {{pais.codigo}}</mat-card-subtitle>
                    <mat-card-subtitle>{{pais.tecnologia5g ? 'País con Tecnología 5g' : 'No Tiene Tecnología 5g'}}</mat-card-subtitle>
                </mat-card-header>
                <img src="{{pais.foto}}" alt="" class="card-imagen">
                <mat-card-actions>        
                    <ng-container *ngIf="sesion$ | async as sesion">
                        <button *ngIf="sesion.usuarioActivo?.esAdmin" mat-raised-button color="primary" (click)="abrirDialog(pais)">
                            Editar
                        </button>
                        <button *ngIf="sesion.usuarioActivo?.esAdmin" mat-button color="warn" (click)="eliminarPais(pais)">
                            Eliminar  
                        </button>
                    </ng-container>
                    
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>