<div class="container">
    <div class="row">
        <div class="col-md-3" *ngFor="let pais of paises$ | async">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{pais.nombre}}</mat-card-title>
                    <mat-card-subtitle>{{pais.codigo}}</mat-card-subtitle>
                </mat-card-header>
                <img src="https://froicorp.net/FroiCorp-logo-002.png" alt="" class="card-imagen">
                <mat-card-actions>
                    <ng-container *ngIf="sesion$ | async as sesion">
                        <button *ngIf="sesion.usuarioActivo?.esAdmin" mat-raised-button color="primary" (click)="abrirDialog(pais)">
                            Editar
                        </button>
                        <button *ngIf="sesion.usuarioActivo?.esAdmin" mat-button color="warn" (click)="eliminarPais(pais)">
                            Eliminar  
                        </button>
                    </ng-container>
                    
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>