<mat-card>
    <mat-card-title>Iniciar Sesión</mat-card-title>
    <mat-card-content>
        <form [formGroup]="formulario" (ngSubmit)="login()">
            <div class="row">
                <div>
                    <mat-form-field appearance="outline" class="fill">
                        <mat-label>Usuario</mat-label>
                        <input matInput type="text" formControlName="usuario">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="fill">
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password" formControlName="contrasena">
                    </mat-form-field>
                </div>
                <div>
                    <mat-slide-toggle formControlName="esAdmin">Es admin</mat-slide-toggle>
                </div>
                <div class="boton">
                    <button type="submit" mat-button mat-raised-button color="primary">Ingresar</button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>