<mat-accordion>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>Alumnos</mat-panel-title>
            <mat-icon>face</mat-icon>
        </mat-expansion-panel-header>
        
       
        <a mat-button routerLink="cursos/listar">Listar Cursos</a>
        <div class="list-group">
            <button type=button class="list-group-item list-group-item-action"  routerLink="cursos/listar">Gestionar Alumnos</button>
        </div>
    </mat-expansion-panel>
  
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
          <mat-panel-title>Clases</mat-panel-title>
          <mat-icon>class</mat-icon>
      </mat-expansion-panel-header>
      <p>Listado de las Clases</p>
      <p>Agregar Una Clase Nueva</p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>Cursos</mat-panel-title>
        <mat-icon>assignment</mat-icon>
    </mat-expansion-panel-header>
    <p>Lista de Crusos</p>
    <p>Agregar Un Curso Nuevo</p>
  </mat-expansion-panel>

</mat-accordion>




<!-- <div class="list-group">
    <button type=button class="list-group-item list-group-item-action"  routerLink="inicio">Inicio</button>
    <button type=button class="list-group-item list-group-item-action"  routerLink="alumnos">Alumnos</button>
    <button type=button class="list-group-item list-group-item-action"  routerLink="clases">Clases</button>
    <button type=button class="list-group-item list-group-item-action"  routerLink="cursos">Cursos</button>
</div> -->