<mat-accordion>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>Alumnos</mat-panel-title>
            <mat-icon>face</mat-icon>
        </mat-expansion-panel-header>
        <p class="no-aun">Listado de Alumnos</p>
        <p>Agregar un Alumno Nuevo</p>
    </mat-expansion-panel>
  
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
          <mat-panel-title>Clases</mat-panel-title>
          <mat-icon>class</mat-icon>
      </mat-expansion-panel-header>
      <p>Listado de las Clases</p>
      <p>Agregar Una Clase Nueva</p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>Cursos</mat-panel-title>
        <mat-icon>assignment</mat-icon>
    </mat-expansion-panel-header>
    <div class="list-group">
        <button type=button class="list-group-item list-group-item-action"  routerLink="cursos/listar">Listar Cursos</button>
        <button type=button class="list-group-item list-group-item-action"  routerLink="cursos/agregar">Agregar Un Curso Nuevo</button>
    </div>
  </mat-expansion-panel>

</mat-accordion>




<!-- <div class="list-group">
    <button type=button class="list-group-item list-group-item-action"  routerLink="inicio">Inicio</button>
    <button type=button class="list-group-item list-group-item-action"  routerLink="alumnos">Alumnos</button>
    <button type=button class="list-group-item list-group-item-action"  routerLink="clases">Clases</button>
    <button type=button class="list-group-item list-group-item-action"  routerLink="cursos">Cursos</button>
</div> -->