<h3>Discografía Disponible | Metallica</h3>

<div class="card-group">
    <div class="card" style="width: 18rem;">
        <img src="https://cdn.shopify.com/s/files/1/0576/8616/3620/products/00042283814127_1024x.jpg?v=1635790052" class="card-img-top" alt="1984">
        <div class="card-body">
          <h5 class="card-title">Master of Puppets</h5>
          <p class="card-text">Master of Puppets es el tercer álbum de estudio del grupo musical de thrash metal estadounidense Metallica. Fue lanzado al mercado el 3 de marzo de 1986, bajo el sello de Elektra Records, alcanzando el puesto 29​ en el Billboard 200.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/I/71z4zm5yohL._AC_SX425_.jpg" class="card-img-top" alt="1984">
        <div class="card-body">
          <h5 class="card-title">Metallica</h5>
          <p class="card-text">Metallica, es el quinto álbum de estudio del grupo musical estadounidense de thrash metal Metallica. Fue el primer álbum de estudio de Metallica producido por Bob Rock. Recibió elogios de la crítica y se convirtió en el álbum más vendido del grupo musical.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/I/71cr-UivXLL._SX522_.jpg" class="card-img-top" alt="1984">
        <div class="card-body">
          <h5 class="card-title">Ride the Lightning</h5>
          <p class="card-text">Ride the Lightning es el segundo álbum de estudio del grupo musical estadounidense de thrash metal Metallica. Fue publicado el 27 de julio de 1984 bajo el sello discográfico Megaforce Records.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/I/61v8C1k4s8L._SX355_.jpg" class="card-img-top" alt="1984">
        <div class="card-body">
          <h5 class="card-title">And Justice for All </h5>
          <p class="card-text">Es el cuarto álbum de estudio de la banda estadounidense de heavy metal Metallica, lanzado el 7 de septiembre de 1988 por Elektra Records. Fue el primer álbum de Metallica en presentar al bajista Jason Newsted, luego de la muerte de su anterior bajista Cliff Burton en 1986.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
</div>
