<!-- Lazy Loading, Rutas child, Guards, Autenticación, API Rest y Unit Testing -->
<ng-container>
  <mat-toolbar color="primary" >
    <mat-toolbar-row>
      <button routerLink="inicio" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>school</mat-icon>
      </button>
      <span>CODERHOUSE Comisión 40510 - Angular | PROYECTO FINAL</span>      
      <span class="example-spacer"></span>
      <a mat-button routerLink="inicio">Inicio<mat-icon>home</mat-icon></a>
      <a mat-button routerLink="noexiste">404<mat-icon>highlight_off</mat-icon></a>
      <a mat-button (click)="logout()">Salir<mat-icon>exit_to_app</mat-icon></a>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-container>