<h1 mat-dialog-title>Edición de información de Alumno <br>
    <p class="nombreAlmuno" >{{ data.nombre +" "+ data.apellido }}</p>
</h1>
<div mat-dialog-content>
    
    <form [formGroup]="formulario">
        <div class="row">
            <input type="text" placeholder="Nombre" formControlName="nombre">
        </div>
        <div class="row">
            <input type="text" placeholder="Apellido" formControlName="apellido">
        </div>
        <div class="row">
            <input type="text" placeholder="Edad" formControlName="edad">
        </div>
        <div class="row">
            <input type="text" placeholder="Curso" formControlName="curso">
        </div>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cerrar</button>
    <button mat-flat-button>Editar</button>
</div>