<div class="cabecera">
    <h1 class="titulo">Agrega, edita o elimina al Alumno</h1>
    <div class="nombreSelecionado">
        Alumno selecionado: <na class="nombreAlmuno" appPersonalizarTexto>{{ data.nombre +" "+ data.apellido }}</na>
    </div>
</div>

<div mat-dialog-content class="cuadroDeDialogo">
    <form [formGroup]="formulario">
        <div class="row">Id de Alumno
            <input type="text" placeholder="Id" formControlName="idAl">
        </div>
        <div class="row">Nombres del Alumno
            <input type="text" placeholder="Nombre" formControlName="nombre">
        </div>
        <div class="row">Apellidos del Alumno
            <input type="text" placeholder="Apellido" formControlName="apellido">
        </div>
        <div class="row">Edad del Alumno
            <input type="number" placeholder="Edad" formControlName="edad">
        </div>
        <div class="row">Curso del Alumno
            <input type="text" placeholder="Curso" formControlName="curso">
            
        </div>
    </form>


</div>

<div mat-dialog-actions>
    <!-- <button mat-button mat-dialog-close>Cerrar</button> -->
    <button type="button" class="btn btn-outline-primary" (click)="agregarAlumno()">Crear Nuevo</button>
    <button type="button" class="btn btn-outline-success" (click)="actualizarAlumno()">Editar Actual</button>
    <button type="button" class="btn btn-outline-warning" (click)="eliminarAlumno()">Eliminar</button>
    <button type="button" class="btn btn-outline-dark" (click)="cerrarVentana()">Cerrar</button>
</div>